.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 230px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.popup-top {
    background-color: #eeeeee;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popup-title {
    padding-left: 10px;
}

.popup-content {
    padding: 0 20px;
    font-size: 12px;
    text-align: left;
}

.popup-content ul {
    list-style: none;
    padding: 5px 0;
    margin: 5px 0;

}
